---
import Layout from '../layouts/Layout.astro';
import TwitterIcon from '../components/icons/TwitterIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import EricssonLogo from '../components/logos/EricssonLogo.astro';
import BrellaLogo from '../components/logos/BrellaLogo.astro';
import GoforeLogo from '../components/logos/GoforeLogo.astro';
import CapgeminiLogo from '../components/logos/CapgeminiLogo.astro';
import MunchfamLogo from '../components/logos/MunchfamLogo.astro';
import ValuenexLogo from '../components/logos/ValuenexLogo.astro';


const socials = [
	{
		name: 'Twitter',
		url: 'https://twitter.com/laznic',
		icon: TwitterIcon
	},
	{
		name: 'GitHub',
		url: 'https://github.com/laznic',
		icon: GitHubIcon
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/niklaslepisto/',
		icon: LinkedInIcon
	}
]
---

<Layout title="Niklas Lepistö - Experimental Web Dev">
	<main class="mx-auto container grid gap-20">
		<header class="grid grid-cols-3 gap-8">
			<div class="col-span-1">
				<img src="/images/headshot-2.webp" alt="Niklas Lepistö">
			</div>

			<section class="col-span-2 items-center grid">
				<div class="grid gap-4">
				<h1 class="text-8xl">
					Niklas
					<span class="inline-block relative">
						<span class="w-14 h-3 bg-black absolute -right-[3%] top-2 block"></span>
						<span class="w-1.5 h-4 bg-white absolute left-[14.75%] bottom-4 block"></span>
						Lepisto
					</span>
				</h1>

				<h2 class="prose prose-2xl">
					I'm a Full Stack Developer with Frontend focus. I love to create experiences and experiment with new technologies, and I'm always looking to learn more about anything.
					I try to share as much as I can to inspire others to learn and experiment.
				</h2>

				<p>Currently learning: Elixir, WebGL, Game Development</p>

				<ul class="flex items-center gap-2">
					{socials.map((social) => (
						<li>
							<a
							title={social.name}
							href={social.url}
							class="block p-2 bg-slate-100 rounded-md hover:bg-slate-200">
							<social.icon size={30} />
							 <span class="sr-only">{social.name}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
			</section>
		</header>

		<section>
			<h2>Some brands I've worked with*</h2>
			* as a direct employee or in a client project via an employer

			<ul class="flex items-center flex-wrap gap-12">
				<li class="max-w-40">
					<EricssonLogo />
				</li>
				<li class="max-w-36">
					<BrellaLogo />
				</li>
				<li class="max-w-48">
					<GoforeLogo />
				</li>
				<li class="max-w-48">
					<CapgeminiLogo />
				</li>
				<li class="max-w-16">
					<MunchfamLogo  />
				</li>
				<li class="max-w-48">
					<ValuenexLogo />
				</li>
			</ul>
		</section>

		<section>
			<h2>Highlighted projects</h2>

			<ul class="grid grid-cols-3 gap-4">
				<li class=" p-4 rounded-md shadow-lg border border-separator hover:shadow-xl transition-all">
					<h3 class="prose prose-lg">Mirror of Loss</h3>
					<p class="prose">
						An AI powered WebGL experience.
					</p>

					<ul>
						<li>
							<a href="https://mirrorofloss.com" class="inline-flex items-center gap-2">
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.07926 0.222253C7.31275 -0.007434 7.6873 -0.007434 7.92079 0.222253L14.6708 6.86227C14.907 7.09465 14.9101 7.47453 14.6778 7.71076C14.4454 7.947 14.0655 7.95012 13.8293 7.71773L13 6.90201V12.5C13 12.7761 12.7762 13 12.5 13H2.50002C2.22388 13 2.00002 12.7761 2.00002 12.5V6.90201L1.17079 7.71773C0.934558 7.95012 0.554672 7.947 0.32229 7.71076C0.0899079 7.47453 0.0930283 7.09465 0.32926 6.86227L7.07926 0.222253ZM7.50002 1.49163L12 5.91831V12H10V8.49999C10 8.22385 9.77617 7.99999 9.50002 7.99999H6.50002C6.22388 7.99999 6.00002 8.22385 6.00002 8.49999V12H3.00002V5.91831L7.50002 1.49163ZM7.00002 12H9.00002V8.99999H7.00002V12Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
								mirrorofloss.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/mirror-of-loss" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class="p-4 rounded-md shadow-lg border border-separator hover:shadow-xl transition-all">
					<h3 class="prose prose-lg">Doors of Abyss: The Endless Chase</h3>
					<p class="prose">
						An interactive, narrative browser game.
					</p>

					<ul>
						<li>
							<a href="https://doorsofabyss.com" class="inline-flex items-center gap-2">
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.07926 0.222253C7.31275 -0.007434 7.6873 -0.007434 7.92079 0.222253L14.6708 6.86227C14.907 7.09465 14.9101 7.47453 14.6778 7.71076C14.4454 7.947 14.0655 7.95012 13.8293 7.71773L13 6.90201V12.5C13 12.7761 12.7762 13 12.5 13H2.50002C2.22388 13 2.00002 12.7761 2.00002 12.5V6.90201L1.17079 7.71773C0.934558 7.95012 0.554672 7.947 0.32229 7.71076C0.0899079 7.47453 0.0930283 7.09465 0.32926 6.86227L7.07926 0.222253ZM7.50002 1.49163L12 5.91831V12H10V8.49999C10 8.22385 9.77617 7.99999 9.50002 7.99999H6.50002C6.22388 7.99999 6.00002 8.22385 6.00002 8.49999V12H3.00002V5.91831L7.50002 1.49163ZM7.00002 12H9.00002V8.99999H7.00002V12Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
								doorsofabyss.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/doors-of-abyss" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class=" p-4 rounded-md shadow-lg border border-separator hover:shadow-xl transition-all">
					<h3 class="prose prose-lg">Generation: Hotdog</h3>
					<p class="prose">
						A hot dog experience, powered by AI.
					</p>
					<ul>
						<li>
							<a href="https://generationhotdog.com" class="inline-flex items-center gap-2">
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.07926 0.222253C7.31275 -0.007434 7.6873 -0.007434 7.92079 0.222253L14.6708 6.86227C14.907 7.09465 14.9101 7.47453 14.6778 7.71076C14.4454 7.947 14.0655 7.95012 13.8293 7.71773L13 6.90201V12.5C13 12.7761 12.7762 13 12.5 13H2.50002C2.22388 13 2.00002 12.7761 2.00002 12.5V6.90201L1.17079 7.71773C0.934558 7.95012 0.554672 7.947 0.32229 7.71076C0.0899079 7.47453 0.0930283 7.09465 0.32926 6.86227L7.07926 0.222253ZM7.50002 1.49163L12 5.91831V12H10V8.49999C10 8.22385 9.77617 7.99999 9.50002 7.99999H6.50002C6.22388 7.99999 6.00002 8.22385 6.00002 8.49999V12H3.00002V5.91831L7.50002 1.49163ZM7.00002 12H9.00002V8.99999H7.00002V12Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
								generationhotdog.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/generation-hotdog" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>

		<section>
			<h2>Blog posts</h2>

			<ul class="grid gap-12">
				<li>
					<article class="grid grid-cols-3 gap-2">
						<aside class="col-span-1">
							<img src="https://placehold.co/300" alt="Niklas Lepistö">
						</aside>

						<section class="col-span-2">
							<h3 class="prose prose-2xl">How to create a custom React hook</h3>
							<p>React hooks are a great way to share logic between components. In this post I'll show you how to create a custom hook.</p>
						</section>
					</article>
				</li>
				<li>
					<article class="grid grid-cols-3 gap-2">
						<aside class="col-span-1">
							<img src="https://placehold.co/300" alt="Niklas Lepistö">
						</aside>

						<section class="col-span-2">
							<h3 class="prose prose-2xl">How to create a custom React hook</h3>
							<p>React hooks are a great way to share logic between components. In this post I'll show you how to create a custom hook.</p>
						</section>
					</article>
				</li>
			</ul>
		</section>
	</main>

	<footer class="mt-8">
		<p>© Niklas Lepistö 2023</p>
	</footer>
</Layout>