---
import Layout from '../layouts/Layout.astro';
import TwitterIcon from '../components/icons/TwitterIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import EricssonLogo from '../components/logos/EricssonLogo.astro';
import BrellaLogo from '../components/logos/BrellaLogo.astro';
import GoforeLogo from '../components/logos/GoforeLogo.astro';
import CapgeminiLogo from '../components/logos/CapgeminiLogo.astro';
import MunchfamLogo from '../components/logos/MunchfamLogo.astro';
import ValuenexLogo from '../components/logos/ValuenexLogo.astro';


const socials = [
	{
		name: 'Twitter',
		url: 'https://twitter.com/laznic',
		icon: TwitterIcon
	},
	{
		name: 'GitHub',
		url: 'https://github.com/laznic',
		icon: GitHubIcon
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/niklaslepisto/',
		icon: LinkedInIcon
	}
]
---

<Layout title="Niklas Lepistö - Experimental Web Dev">
	<main class="mx-auto container grid gap-20">
		<header class="grid grid-cols-3 gap-8">
			<div class="col-span-1">
				<img src="/images/headshot-2.webp" alt="Niklas Lepistö">
			</div>

			<section class="col-span-2 items-center grid">
				<div class="grid gap-4">
				<h1 class="text-8xl">
					Niklas
					<span class="inline-block relative">
						<span class="w-14 h-3 bg-black absolute -right-[3%] top-2 block"></span>
						<span class="w-1.5 h-4 bg-white absolute left-[14.75%] bottom-4 block"></span>
						Lepisto
					</span>
				</h1>

				<h2 class="prose prose-2xl">
					I'm a Full Stack Developer with Frontend focus. I love to create experiences and experiment with new technologies, and I'm always looking to learn more about anything.
					I try to inspire others to learn, expirement, and go after what they truly want to do by being as open as I can.
				</h2>

				<ul class="flex items-center gap-4">
					{socials.map((social) => (
						<li>
							<a
							title={social.name}
							href={social.url}
							class="block p-2 rounded-md bg-gradient-to-br to-[hsla(0,0%,85%,1)] from-transparent shadow-[-2px_-2px_10px_hsla(0,0%,100%,1),2px_2px_10px_hsla(0,0%,85%,1)] hover:shadow-[-7px_-7px_15px_hsla(0,0%,100%,1),7px_7px_15px_hsla(0,0%,85%,1)] hover:from-[hsla(0,0%,92%,1)] hover:to-transparent group">
							<social.icon size={30} classes={'group-hover:scale-90'}/>
							 <span class="sr-only">{social.name}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
			</section>
		</header>

		<section>
			<h2>Some brands I've worked with*</h2>
			* as a direct employee or in a client project via an employer

			<ul class="flex items-center flex-wrap gap-12">
				<li class="max-w-40">
					<EricssonLogo />
				</li>
				<li class="max-w-36">
					<BrellaLogo />
				</li>
				<li class="max-w-48">
					<GoforeLogo />
				</li>
				<li class="max-w-48">
					<CapgeminiLogo />
				</li>
				<li class="max-w-16">
					<MunchfamLogo  />
				</li>
				<li class="max-w-48">
					<ValuenexLogo />
				</li>
			</ul>
		</section>

		<section>
			<h2>Highlighted projects</h2>

			<ul class="grid grid-cols-3 gap-4">
				<li class="p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<a class="inline-flex gap-2 items-center px-2 py-1 rounded-md text-xs shadow-[inset_1px_1px_8px_hsla(0,0%,100%,1),inset_-1px_-1px_8px_hsla(0,0%,85%,1)]">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
							<g fill="currentColor" stroke="currentColor">
								<path d="M9.643,12.133l.777-.652c.18-.151,.408-.234,.643-.234h1.014c.485,0,.901-.348,.985-.826l.176-.999c.041-.232,.162-.441,.342-.592l.777-.652c.372-.312,.466-.846,.223-1.266l-.507-.879c-.118-.204-.16-.442-.119-.674l.176-.999c.084-.478-.187-.947-.643-1.113l-.953-.347c-.221-.08-.406-.236-.524-.44l-.507-.879c-.243-.42-.752-.606-1.208-.44l-.953,.347c-.221,.08-.463,.08-.684,0l-.953-.347c-.456-.166-.965,.019-1.208,.44l-.507,.879c-.118,.204-.303,.359-.524,.44l-.953,.347c-.456,.166-.727,.635-.643,1.113l.176,.999c.041,.232-.001,.47-.119,.674l-.507,.879c-.243,.42-.149,.954,.223,1.266l.777,.652c.18,.151,.301,.361,.342,.592l.176,.999c.084,.478,.5,.826,.985,.826h1.014c.235,0,.463,.083,.643,.234l.777,.652c.372,.312,.914,.312,1.286,0Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
								<polyline points="12.25 13.75 12.25 17.25 9 14.75 5.75 17.25 5.75 13.75" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></polyline>
								<circle cx="9" cy="6.724" r="2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
							</g>
						</svg>

						Supabase Hackathon: Most visually pleasing
					</a>

					<h3 class="prose prose-lg">Mirror of Loss</h3>	
					<p class="prose">
						An AI powered WebGL experience.
					</p>

					<ul>
						<li>
							<a class="inline-flex gap-2 items-center px-2 py-1 rounded-md text-xs shadow-[inset_1px_1px_8px_hsla(0,0%,100%,1),inset_-1px_-1px_8px_hsla(0,0%,85%,1)]">
								<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
									<g fill="currentColor" stroke="currentColor">
										<path d="M9.926,16.11c-.461,.092-.938,.14-1.426,.14-4.004,0-7.25-3.246-7.25-7.25S4.496,1.75,8.5,1.75s7.25,3.246,7.25,7.25c0,.264-.014,.524-.041,.78" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.126,10.768l5.94,2.17c.25,.091,.243,.448-.011,.529l-2.719,.87-.87,2.719c-.081,.254-.438,.261-.529,.011l-2.17-5.94c-.082-.223,.135-.44,.359-.359Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M15.75,9c0-1.657-3.246-3-7.25-3S1.25,7.343,1.25,9c0,1.646,3.205,2.983,7.175,3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.486,8.293c-.147-3.672-1.428-6.543-2.986-6.543-1.657,0-3,3.246-3,7.25s1.343,7.25,3,7.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
									</g>
								</svg>
								mirrorofloss.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/mirror-of-loss" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class="p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<a class="inline-flex gap-2 items-center px-2 py-1 rounded-md text-xs shadow-[inset_1px_1px_8px_hsla(0,0%,100%,1),inset_-1px_-1px_8px_hsla(0,0%,85%,1)]">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
							<g fill="currentColor" stroke="currentColor">
								<path d="M9.643,12.133l.777-.652c.18-.151,.408-.234,.643-.234h1.014c.485,0,.901-.348,.985-.826l.176-.999c.041-.232,.162-.441,.342-.592l.777-.652c.372-.312,.466-.846,.223-1.266l-.507-.879c-.118-.204-.16-.442-.119-.674l.176-.999c.084-.478-.187-.947-.643-1.113l-.953-.347c-.221-.08-.406-.236-.524-.44l-.507-.879c-.243-.42-.752-.606-1.208-.44l-.953,.347c-.221,.08-.463,.08-.684,0l-.953-.347c-.456-.166-.965,.019-1.208,.44l-.507,.879c-.118,.204-.303,.359-.524,.44l-.953,.347c-.456,.166-.727,.635-.643,1.113l.176,.999c.041,.232-.001,.47-.119,.674l-.507,.879c-.243,.42-.149,.954,.223,1.266l.777,.652c.18,.151,.301,.361,.342,.592l.176,.999c.084,.478,.5,.826,.985,.826h1.014c.235,0,.463,.083,.643,.234l.777,.652c.372,.312,.914,.312,1.286,0Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
								<polyline points="12.25 13.75 12.25 17.25 9 14.75 5.75 17.25 5.75 13.75" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></polyline>
								<circle cx="9" cy="6.724" r="2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
							</g>
						</svg>

						Supabase Hackathon: Most visually pleasing
					</a>

					<h3 class="prose prose-lg">Doors of Abyss: The Endless Chase</h3>
					<p class="prose">
						An interactive, narrative browser game.
					</p>

					<ul>
						<li>
							<a href="https://doorsofabyss.com" class="inline-flex items-center gap-2">
								<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
									<g fill="currentColor" stroke="currentColor">
										<path d="M9.926,16.11c-.461,.092-.938,.14-1.426,.14-4.004,0-7.25-3.246-7.25-7.25S4.496,1.75,8.5,1.75s7.25,3.246,7.25,7.25c0,.264-.014,.524-.041,.78" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.126,10.768l5.94,2.17c.25,.091,.243,.448-.011,.529l-2.719,.87-.87,2.719c-.081,.254-.438,.261-.529,.011l-2.17-5.94c-.082-.223,.135-.44,.359-.359Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M15.75,9c0-1.657-3.246-3-7.25-3S1.25,7.343,1.25,9c0,1.646,3.205,2.983,7.175,3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.486,8.293c-.147-3.672-1.428-6.543-2.986-6.543-1.657,0-3,3.246-3,7.25s1.343,7.25,3,7.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
									</g>
								</svg>
								doorsofabyss.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/doors-of-abyss" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class=" p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<a class="inline-flex gap-2 items-center px-2 py-1 rounded-md text-xs shadow-[inset_1px_1px_8px_hsla(0,0%,100%,1),inset_-1px_-1px_8px_hsla(0,0%,85%,1)]">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
							<g fill="currentColor" stroke="currentColor">
								<path d="M9.643,12.133l.777-.652c.18-.151,.408-.234,.643-.234h1.014c.485,0,.901-.348,.985-.826l.176-.999c.041-.232,.162-.441,.342-.592l.777-.652c.372-.312,.466-.846,.223-1.266l-.507-.879c-.118-.204-.16-.442-.119-.674l.176-.999c.084-.478-.187-.947-.643-1.113l-.953-.347c-.221-.08-.406-.236-.524-.44l-.507-.879c-.243-.42-.752-.606-1.208-.44l-.953,.347c-.221,.08-.463,.08-.684,0l-.953-.347c-.456-.166-.965,.019-1.208,.44l-.507,.879c-.118,.204-.303,.359-.524,.44l-.953,.347c-.456,.166-.727,.635-.643,1.113l.176,.999c.041,.232-.001,.47-.119,.674l-.507,.879c-.243,.42-.149,.954,.223,1.266l.777,.652c.18,.151,.301,.361,.342,.592l.176,.999c.084,.478,.5,.826,.985,.826h1.014c.235,0,.463,.083,.643,.234l.777,.652c.372,.312,.914,.312,1.286,0Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
								<polyline points="12.25 13.75 12.25 17.25 9 14.75 5.75 17.25 5.75 13.75" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></polyline>
								<circle cx="9" cy="6.724" r="2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
							</g>
						</svg>

						Supabase Hackathon: Most visually pleasing
					</a>

					<h3 class="prose prose-lg">Generation: Hotdog</h3>
					<p class="prose">
						A hot dog experience, powered by AI.
					</p>

					<ul>
						<li>
							<a href="https://generationhotdog.com" class="inline-flex items-center gap-2">
								<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
									<g fill="currentColor" stroke="currentColor">
										<path d="M9.926,16.11c-.461,.092-.938,.14-1.426,.14-4.004,0-7.25-3.246-7.25-7.25S4.496,1.75,8.5,1.75s7.25,3.246,7.25,7.25c0,.264-.014,.524-.041,.78" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.126,10.768l5.94,2.17c.25,.091,.243,.448-.011,.529l-2.719,.87-.87,2.719c-.081,.254-.438,.261-.529,.011l-2.17-5.94c-.082-.223,.135-.44,.359-.359Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M15.75,9c0-1.657-3.246-3-7.25-3S1.25,7.343,1.25,9c0,1.646,3.205,2.983,7.175,3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.486,8.293c-.147-3.672-1.428-6.543-2.986-6.543-1.657,0-3,3.246-3,7.25s1.343,7.25,3,7.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
									</g>
								</svg>
								generationhotdog.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/generation-hotdog" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class=" p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<a class="inline-flex gap-2 items-center px-2 py-1 rounded-md text-xs shadow-[inset_1px_1px_8px_hsla(0,0%,100%,1),inset_-1px_-1px_8px_hsla(0,0%,85%,1)]">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
							<g fill="currentColor" stroke="currentColor">
								<path d="M9.643,12.133l.777-.652c.18-.151,.408-.234,.643-.234h1.014c.485,0,.901-.348,.985-.826l.176-.999c.041-.232,.162-.441,.342-.592l.777-.652c.372-.312,.466-.846,.223-1.266l-.507-.879c-.118-.204-.16-.442-.119-.674l.176-.999c.084-.478-.187-.947-.643-1.113l-.953-.347c-.221-.08-.406-.236-.524-.44l-.507-.879c-.243-.42-.752-.606-1.208-.44l-.953,.347c-.221,.08-.463,.08-.684,0l-.953-.347c-.456-.166-.965,.019-1.208,.44l-.507,.879c-.118,.204-.303,.359-.524,.44l-.953,.347c-.456,.166-.727,.635-.643,1.113l.176,.999c.041,.232-.001,.47-.119,.674l-.507,.879c-.243,.42-.149,.954,.223,1.266l.777,.652c.18,.151,.301,.361,.342,.592l.176,.999c.084,.478,.5,.826,.985,.826h1.014c.235,0,.463,.083,.643,.234l.777,.652c.372,.312,.914,.312,1.286,0Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
								<polyline points="12.25 13.75 12.25 17.25 9 14.75 5.75 17.25 5.75 13.75" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></polyline>
								<circle cx="9" cy="6.724" r="2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
							</g>
						</svg>

						Supabase Hackathon: Most fun/interesting
					</a>

					<h3 class="prose prose-lg">That Hot Dog Game</h3>
					<p class="prose">
						A hot dog eating game.
					</p>

					<ul>
						<li>
							<a href="https://github.com/laznic/hotdogs" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>

				<li class=" p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<h3 class="prose prose-lg">AI Coloring book</h3>
					<p class="prose">
						A digital "coloring book" app powered by an AI.
					</p>
					<ul>
						<li>
							<a href="https://maicanvas.com" class="inline-flex items-center gap-2">
								<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
									<g fill="currentColor" stroke="currentColor">
										<path d="M9.926,16.11c-.461,.092-.938,.14-1.426,.14-4.004,0-7.25-3.246-7.25-7.25S4.496,1.75,8.5,1.75s7.25,3.246,7.25,7.25c0,.264-.014,.524-.041,.78" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.126,10.768l5.94,2.17c.25,.091,.243,.448-.011,.529l-2.719,.87-.87,2.719c-.081,.254-.438,.261-.529,.011l-2.17-5.94c-.082-.223,.135-.44,.359-.359Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M15.75,9c0-1.657-3.246-3-7.25-3S1.25,7.343,1.25,9c0,1.646,3.205,2.983,7.175,3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.486,8.293c-.147-3.672-1.428-6.543-2.986-6.543-1.657,0-3,3.246-3,7.25s1.343,7.25,3,7.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
									</g>
								</svg>
								maicanvas.com
							</a>
						</li>
						<li>
							<a href="https://github.com/laznic/coloring-book" class="inline-flex items-center gap-2">
								<GitHubIcon size={15} />
								Source code
							</a>
						</li>
					</ul>
				</li>
				<li class=" p-4 rounded-md shadow-md hover:shadow-xl transition-all">
					<h3 class="prose prose-lg">Quickplay</h3>
					<p class="prose">
						An automated tournament platform that runs on Discord.
					</p>
					<ul>
						<li>
							<a href="https://quickplay.co" class="inline-flex items-center gap-2">
								<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
									<g fill="currentColor" stroke="currentColor">
										<path d="M9.926,16.11c-.461,.092-.938,.14-1.426,.14-4.004,0-7.25-3.246-7.25-7.25S4.496,1.75,8.5,1.75s7.25,3.246,7.25,7.25c0,.264-.014,.524-.041,.78" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.126,10.768l5.94,2.17c.25,.091,.243,.448-.011,.529l-2.719,.87-.87,2.719c-.081,.254-.438,.261-.529,.011l-2.17-5.94c-.082-.223,.135-.44,.359-.359Z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M15.75,9c0-1.657-3.246-3-7.25-3S1.25,7.343,1.25,9c0,1.646,3.205,2.983,7.175,3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										<path d="M11.486,8.293c-.147-3.672-1.428-6.543-2.986-6.543-1.657,0-3,3.246-3,7.25s1.343,7.25,3,7.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
									</g>
								</svg>
								quickplay.co
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		
		<section>
			<h2>In progress</h2>
			<ul>
				<li>Reading: 1984</li>
				<li>Reading: Musashi</li>
				<li>Learning: Elixir</li>
				<li>Learning: WebGL</li>
				<li>Learning: Game Development</li>
				<li>Building: Untitled game project</li>
				<li>Building: Untitled brand project</li>
				<li>Building: Untitled brand project</li>
			</ul>
		</section>

		<section>
			<h2>Blog posts</h2>

			<ul class="grid gap-12">
				<li>
					<article class="grid grid-cols-3 gap-2">
						<aside class="col-span-1">
							<img src="https://placehold.co/300" alt="Niklas Lepistö">
						</aside>

						<section class="col-span-2">
							<h3 class="prose prose-2xl">How to create a custom React hook</h3>
							<p>React hooks are a great way to share logic between components. In this post I'll show you how to create a custom hook.</p>
						</section>
					</article>
				</li>
				<li>
					<article class="grid grid-cols-3 gap-2">
						<aside class="col-span-1">
							<img src="https://placehold.co/300" alt="Niklas Lepistö">
						</aside>

						<section class="col-span-2">
							<h3 class="prose prose-2xl">How to create a custom React hook</h3>
							<p>React hooks are a great way to share logic between components. In this post I'll show you how to create a custom hook.</p>
						</section>
					</article>
				</li>
			</ul>
		</section>
	</main>

	<footer class="mt-8">
		<p>© Niklas Lepistö 2023</p>
	</footer>
</Layout>


