---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Niklas Lepistö - Experimental Web Dev">
	<nav>
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Posts</li>
		</ul>
	</nav>

	<main class="mx-auto container">
		<header class="grid grid-cols-3 gap-4">
			<div class="col-span-1">
				<img src="/images/headshot-2.webp" alt="Picture of Niklas Lepistö">
			</div>

			<h1 class="text-8xl relative block col-span-2">
				Niklas
				<span class="inline-block relative">
					<span class="w-14 h-3 bg-black absolute -right-[4%] top-2 block"></span>
					<span class="w-1.5 h-4 bg-white absolute left-[14.75%] bottom-4 block"></span>
					Lepisto
				</span>
			</h1>
		</header>

	</main>
</Layout>