---
import EricssonLogo from './logos/EricssonLogo.astro';
import BrellaLogo from './logos/BrellaLogo.astro';
import GoforeLogo from './logos/GoforeLogo.astro';
import CapgeminiLogo from './logos/CapgeminiLogo.astro';
import MunchfamLogo from './logos/MunchfamLogo.astro';
import ValuenexLogo from './logos/ValuenexLogo.astro';
---

<ul class="flex items-center flex-wrap gap-20 md:gap-16 xl:justify-between mt-8">
  <li
    class="max-w-40 text-black animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 750ms;`}>
    <EricssonLogo  />
  </li>

  <li
    class="max-w-36 relative animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 850ms;`}>
    <span
    role="tooltip"
    style="animation-delay: 1400ms; animation-timing-function:cubic-bezier(.1,.05,.97,.82); animation-duration: 250ms;"
    class=" px-3 py-1 text-center bg-neutral-700 text-neutral-50 rounded ring-1 ring-neutral-200 border border-neutral-200 text-xs absolute block w-fit whitespace-nowrap drop-shadow-xl shadow-lg -bottom-12 left-0 right-0 mx-auto">
      <span class="block absolute border-r-8 border-r-transparent border-l-8 border-l-transparent border-b-8 border-b-neutral-700 w-0 h-0 -top-2 left-0 right-0 mx-auto" />
      I work here!
    </span>
    <BrellaLogo />
  </li>

  <li 
    class="max-w-16 animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 950ms;`}>
    <MunchfamLogo  />
  </li>

  <li
    class="max-w-48 animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 1050ms;`}>
    <GoforeLogo />
  </li>

  <li
    class="max-w-48 animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 1150ms;`}>
    <CapgeminiLogo />
  </li>

  <li
    class="max-w-48 animate-fade-down transition-all animate-duration-300"
    style={`animation-delay: 1250ms;`}>
    <ValuenexLogo />
  </li>
</ul>