@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-family: "var(--font-techna)";
  font-feature-settings: "ss01";
}

body {
  font-family: "var(--font-geist-mono)";
}

@layer base {
  :root {
    --color-primary: 198deg 93% 60%;
    --color-background: 120deg 27% 98%;
    --color-separator: 220deg 6% 90%;
  }

  .dark {
    --color-primary: 125deg 93% 60%;
    --color-background: 240deg 5% 15%;
    --color-separator: 240deg 4% 24%;
  }
}
